<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.rhj.eclipse.tools.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="ch.rhj.eclipse.tools.commands.category"
            name="Hello"
            id="ch.rhj.eclipse.tools.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.rhj.eclipse.tools.handler.SampleHandler"
            commandId="ch.rhj.eclipse.tools.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ch.rhj.eclipse.tools.menus.sampleMenu"
               label="RHJ"
               mnemonic="J">
            <command
                  commandId="ch.rhj.eclipse.tools.commands.sampleCommand"
                  icon="icons/logo.png"
                  id="ch.rhj.eclipse.tools.menus.sampleCommand"
                  mnemonic="H">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ch.rhj.eclipse.tools.toolbars.sampleToolbar">
            <command
                  id="ch.rhj.eclipse.tools.toolbars.sampleCommand"
                  commandId="ch.rhj.eclipse.tools.commands.sampleCommand"
                  icon="icons/logo.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
