<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.rhj.eclipse.tools.category"
            name="RHJ Eclipse Tools">
      </category>
      <command
            categoryId="ch.rhj.eclipse.tools.category"
            id="ch.rhj.eclipse.tools.command.configure"
            name="Configure...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.rhj.eclipse.tools.configure.ConfigureHandler"
            commandId="ch.rhj.eclipse.tools.command.configure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="ch.rhj.eclipse.tools.command.configure"
               icon="icons/logo.png"
               label="Configure..."
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
